.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  margin-left: 20%;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
  text-align: center;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}
.main-container{
  justify-content: center;
  align-items: center;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
button{
  height: 30px;
  width: 150px;
  padding: 2px;
  border: 0;
  cursor: pointer;
}
button:hover{
  background-color: brown;
  color: white;

}
.btn{
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 70px;
}
